//Fonts
$title-font: "Stag Semibold", serif;
$text-font: "Stag Book", serif;

//Colors
$primary-text: #454545;
$secondary-text: #b6b6b6;
$third-grey: #ebedee;
$theme-primary: #f2f2f2;
$theme-secondary: #ffd800;
$white: #fff;
$placeholder-text: #bfbfbf;

$post-border: 2px solid $theme-primary;